@font-face {
  font-family: "heading";
  src: url(../font/UniNeue-HeavyItalic.otf);
}

/*@font-face {
  font-family: "body";
  src: url(../font/UniNeue-HeavyItalic.otf);
}*/


h1,h2,h3,h4,h5 {
  font-family: "heading";
  text-transform: uppercase;
}

/*body {
  font-family: "body";
}*/

.navbar-dark {
  background-color: #00a4e4 !important;
}

#home {
  background: url("../img/home-bg.jpg");
  height: calc(100vh - 56px);
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

#aboutme {
  padding: 32px 0px !important;
  background-color: #00a4e4;
  color: white;
}

.img-fluid{
  width: 100%;
  height: auto;
}
